numpy==1.23.5
tensorboard==2.14.0
shapely==2.0.1
easydict==1.10
jsonlines==4.0.0
ftfy==6.1.1
einops==0.6.1
timeout_decorator==0.5.0
spacy==3.6.1
imgaug==0.4.0
orjson==3.9.7
cython==3.0.2
regex==2023.8.8
pycocotools==2.0.7
ninja==1.11.1
fvcore==0.1.5.post20221221
timm==0.9.7
webdataset==0.2.57
ortools==9.7.2996